In [7]:
# Import dependencies
import psycopg2
import pandas as pd
import numpy as np
import sqlalchemy as sal
from sqlalchemy import create_engine
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Superstore_Sales_Data"
engine = create_engine(db_string)
cleaned_superstore_df = pd.read_sql_query ('''
                        SELECT
                        *
                        FROM cleaned_superstore_data
                        ''', engine)
cleaned_superstore_df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,City,States,...,Discount_dollars,Profit,Shipping_Cost,Order_Priority,Years,Months,Discount_percentage,Per_Unit_Selling_Price,Cost_Price,Profit_Percentage
0,42433,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,0.0,106.140,35.46,Medium,2011,1,0.0,204.150,302.16,10614.0
1,22253,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,0.1,36.036,9.72,Medium,2011,1,10.0,40.122,84.33,3603.6
2,48883,HU-2011-1220,2011-01-01,2011-05-01,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,0.0,29.640,8.17,High,2011,1,0.0,16.530,36.48,2964.0
3,11731,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,0.5,-26.055,4.82,High,2011,1,50.0,14.955,70.92,-2605.5
4,22255,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,0.1,37.770,4.70,Medium,2011,1,10.0,22.734,75.90,3777.0

In [3]:
# customer table
customer_df=cleaned_superstore_df[["Customer_ID","Customer_Name","Segment"]]
# customer_df.head()
customer_df.to_csv("Resources/Customer.csv")
# Convert customer dataframe to SQL database
customer_df.to_sql(name='customer', con=engine,index = False)

In [4]:
#sales table
sales_df = cleaned_superstore_df[["Row_ID","Sales","Quantity","Profit","Cost_Price","Months","Years"]]
# sales_df.head()
sales_df.to_csv("Resources/sales.csv")
# Convert customer dataframe to SQL database
sales_df.to_sql(name='sales', con=engine,index = False)

In [5]:
#Shipping_info
shipping_info_df = cleaned_superstore_df[["Order_ID","Row_ID","City","States","Country","Shipping_Cost",'Order_Priority',"Ship_Mode","Market","Region"]]
#shipping_info_df.head()
shipping_info_df.to_csv("Resources/Shipping_info.csv")
# Convert shipping dataframe to SQL database
shipping_info_df.to_sql(name='shipping_info', con=engine,index = False)

In [6]:
#Product table
product_df = cleaned_superstore_df[["Order_ID","Product_ID","Category","Sub_Category","Segment"]]
#product_df.head()
product_df.to_csv("Resources/Product.csv")
# Convert product dataframe to SQL database
product_df.to_sql(name = 'product', con=engine,index = False)